# Put defaults here
MATOMO_VERSION="4.8.0"
MATOMO_LICENSE=MmMmMmAAAAAAATTTTTTooooooMMMMMMooooooooCCC111222333XXXyyyZZZ
# If you e.g. are downloading Matomo using git, change to true
MATOMO_GIT=false
# Use a specifik server user
SERVER_USER="www-data"

WORKSPACE_DIR=/usr/local/var/www/matomo
TMP_DIR=/tmp/plugins

SDG_OAUTH=sInglEdIgitalGateWay
SDGAPIKEY=SDG987654321ApiKey00XYZ

GITHUB_DIGI=github.com/YOUR_ORG
GITHUB_TOMAS=github.com/USER_FOR_PRIVATE_REPOS
GITLAB_DIGI=your_org.gitlab.com

MAXMIND_LICENSE_KEY=XXXyyyZZZ
MAXMIND_PATH=/usr/local/var/misc/
